@import "./components.css";
@import "./decorations.css";
@import "./global.css";

#imc-container {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

#imc-decor img {
  width: 28rem;
}

#imc-calculator {
  display: flex;
  flex-direction: column;
  background: #222;
  border-radius: 10px;
  padding: 2rem;
}

#imc-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
}

.input-box {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 5px;
}

input {
  font-size: 1rem;
  padding: 5px;
}

.ativo#imc-result {
  position: relative;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

p.ativo#result-complement,
p.ativo#result {
  grid-column: 1;
  justify-self: center;
}

p.ativo#result {
  font-size: 2rem;
  font-weight: bold;
}

p.ativo#result-complement {
  font-size: 0.9rem;
  color: #c5c5c5;
}

p.ativo#result-describe {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  max-width: 22ch;
}
